<div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="login_modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Gesture Login</h4>
      </div>
      <div class="modal-body">
        <script>
          var shotComplete = function(){
            site = $('#main-iframe').attr('src');
            window.open(site, '_blank');
            headshot.reset();
          }
        </script>
        <%= headshot_default_config(Rails.application.config.session_options[:key], headshot_capture_path, on_complete: "shotComplete") %>
        <%= headshot_camera %>
        <%= headshot_snap_button('Login') %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>