// Place all the styles related to the webcams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body{
  width: 100%;
  height: 100%;
}

#top-bar{
  width: 100%;
  height: 10%;
}

#main-iframe{
  width: 100%;
  height: 90%;
}
#header{
  float: left;
}
.right-cont{
  float: right;
}
#microphone{
  float: right;
}